
<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.gt-md="95" fxFlex.gt-sm="100" fxFlex="100">
      <mat-card class="mat-card-top  home-background white-text card-header">
        <mat-card-header>
          <h1>  Which breeds of dog originate from Canada?  </h1>
        
        </mat-card-header>
          <img mat-card-image src="assets/images/canadianDog.jpg" 
                   alt="OldCanadiandogimage" width="75%" height="250">
        <mat-card-actions >
            <label id="example-radio-group-label">Your Answer: {{userAnswer}}</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="userAnswer" class="example-radio-group">
                <mat-radio-button class="example-radio-button" value ="Labrador">
                    a. Labrador 
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value ="German Shepherd">
                    b. German Shepherd  
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value = "Rottweiler">
                    c. Rottweiler  
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value = "Husky">
                    d. Husky
                </mat-radio-button>
            </mat-radio-group>
          
          <button mat-raised-button color="warn"  (click)="goToPage6()">NEXT</button>
    
        </mat-card-actions>
      </mat-card>
    </div>
</div>

