<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.gt-md="95" fxFlex.gt-sm="100" fxFlex="100">
      <mat-card class="mat-card-top  home-background white-text card-header">
        <mat-card-header>
          <h1>You finished! Fantastic</h1>
        </mat-card-header>
        <mat-card-main>
         <div class = "score">
              <h2 id = "totalScore"> Total Score:  {{this.totalScore}} / 5</h2>
        </div>
        </mat-card-main>
        <mat-card-actions class="white-text" fxLayoutAlign="left start">
            <mat-list  >
                <mat-list-item *ngFor="let answer of answers">
                    <span class="white-text">  Question{{answer.pageNumber}}. Your answer: {{answer.userAnswer}}, Correct answer: {{answer.correctAnswer}} </span>  
                </mat-list-item>

            
              </mat-list>
           
        </mat-card-actions>
        <button mat-raised-button color="warn"  (click)="goBackToHome()">HOME</button> 
        <div class = "fireworks">
            <div id = "firework-one">
           
        </div>
        <div id = "firework-two">
     
        </div>
    </div>
</mat-card>
    
  
<!--
    <div class = "body">
        <div id = "header-label">
            <header>
                <h1> You finished! Fantastic </h1>o
            </header>
            <main>
                <section class = "main-page">
                    <div id = "Your-score-label">
                        <h1> </h1>
                    </div>
                </section>
                <article>

                        <tr *ngFor="let answer of answers"> 
                        <td> Page #: {{answer.pageNumber}}; </td> 
                        <td> >- user Answer: {{answer.userAnswer}} ;
                        </td> 
                        <td> - correct answer: {{answer.correctAnswer}}; </td>
                           
                </tr>
                    <ul> 
                        <li *ngFor="let answer of answers"> 
                          Page #: {{answer.pageNumber}} - user Answer: {{answer.userAnswer}} - correct answer: {{answer.correctAnswer}} 
                        </li>
                      </ul>
                </article>
                <section>
                    <div id = "button">
                        <button id = "button" type = "button" (click) = "goBackToHome()"> Back To Home </button>
                    </div>
                </section>
            </main>
        -->
        </div>
    </div>

    
