<div class = "body">
    <div class = "title">
        <h1> 6. Which dog has the most <strong> powerful </strong> bite force? </h1>
    </div>
    <section class = "questions">
        <input id = "answerone" type = "radio" value = "answerone" name = "answer" click() = "OnClickRadio()">
            <label for = "answerone"> a. Rottweiler </label>
         <br>
        <input id = "answertwo" type = "radio" value = "answertwo" name = "answer" click() = "OnClickRadio()">
            <label for = "answertwo"> b. Pitbull </label>
        <br>
        <input id = "answerthree" type = "radio" value = "correctanswersix" name = "answer" click() = "OnClickRadio()">
            <label for = "answerthree"> c. Mastiff </label>
        <br>
        <input id = "answerfour" type = "radio" value = "answerfour" name = "answer" click() = "OnClickRadio()">
            <label for = "ansewrfour"> d. German Shepherd </label>
        <br>
         
    </section>
    <section class = "button">
        <button id = "button" type = "button" (click) = "goToPage8()"> Next</button>
        <button id = "backbutton" type = "button"> Go Back </button>
    </section>
</div>