<section class = "body">
    <section class = "title">
        <h1> 7. In the Movie, <em> The Call of the Wild </em>, what breed is Buck mixed with? </h1>
    </section>
    <section id = "image">
        <figure>
            <img src = "https://upload.wikimedia.org/wikipedia/en/4/43/The_Call_of_the_Wild_poster.jpg" alt = "TheCall of the wild cover"
            width = "50%" height = "200"> 
        </figure>
    </section>
    <br>
    <hr> 
    <br>
    <section class = "questions">

        <input id = "answerone" type = "radio" value = "answerone" name = "answer" click() = "OnClickRadio()">
            <label for = "answerone"> a. Labrador-Shepherd</label>
        <br>
        <br>
        <input id = "answertwo" type = "radio" value = "correctanswerseven" name = "answer" click() = "OnClickRadio()">
            <label for = "answertwo"> b. St. Bernard-Scotch</label>
        <br>
        <br>
        <input id = "answerthree" type = "radio" value = "answerthree" name = "answer" click() = "OnClickRadio()">
            <label for = "answerthree"> c. Mastiff-Collie</label>
        <br> 
        <br>
        <input id = "answerfour" type = "radio" value = "answerfour" name = "answer" click() = "OnClickRadio()">
            <label for = "answerfour"> d. None of the Above </label>
        <br>
        <br>
    </section>
    <section class = "button">
        <button id = "button" type = "button" (click) = "goToPage9()"> Next </button>
        <button id = "backbutton" type = "button"> Go Back </button>
    </section>
</section>
