<!-- prints Your score -->
<div class = "body">

    <div class = "score">
        <header>
            <h1> Your score: </h1>
        </header>
    </div>

    <section class = "ratedifficult">
        <form> 
            <input id = "slider" type = "range" name = "slider" min = "0" max = "10" step = "2">
            <label for = "slider"> Rate difficulty from 1-10: </label>
        </form>
    </section>

    <section class = "buttons">
        <button id = "button" type = "button"> Go to home </button>
    </section>
    
</div>
