<div class = "body">
    <div class = "title">
        <h1> 8. Up to date, what breed of dog is ranked the <strong><em> highest </em></strong> for their sense of smell? </h1>
    </div>
    <section class = "image">
        <figure>
            <img src = "https://www.pbs.org/wgbh/nova/media/images/dogs-sense-of-smell-01.width-800.jpg"
            alt = "ImageofDogSniffting" width = "75%" height = "200">
        </figure>
    </section>
    <br>
    <hr>
    <br>
    <section class = "questions">
        <input id = "answerone" type = "radio" value = "answerone" name = "answer" click() = "OnClickRadio()">
            <label for = "answerone"> a. Doberman </label>
        <br>
        <input id = "answertwo" type = "radio" value = "answertwo" name = "answer" click() = "OnClickRadio()">
            <label for = "answertwo"> b. Collie </label>
        <br>
        <input id = "answerthree" type = "radio" value = "answerthree" name = "answer" click() = "OnClickRadio()">
            <label for = "answerthree"> c. Beagle </label>
        <br>
        <input id = "answerfour" type = "radio" value = "correctanswereight" name = "answer" click() = "OnClickRadio()">
            <label for = "answerfour"> d. Bloodhound </label>
        <br>
    </section>
    <section class = "button">
        <button id = "button" type = "button" (click) = "goToPage10()"> Next </button>
        <button id = "backbutton" type = "button"> Go Back </button>
    </section> 
</div>

